.graph{
    width: 700px;
    margin: 0 auto;
    height:100%;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.left {
    float: left;
}

#box {
    height:80%;
    margin: 0 auto;
}

#donutSentiment {
    width: 100%;
    height: 500px;
    font-size: 11px;
}
#countKlout {
    width		: 100%;
    height		: 435px;
    font-size	: 11px;
}
#datepost {
    width	: 100%;
    height	: 500px;
}



.amChartsButtonSelected
{
    background-color:#CC0000;
    border-style:solid;
    border-color:#CC0000;
    border-width:1px;
    color:#FFFFFF;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 1px;
}

.amChartsButton
{
    background-color:#EEEEEE;
    border-style:solid;
    border-color:#CCCCCC;
    border-width:1px;
    color:#000000;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 1px;
}

.amChartsCompareList
{
    border-style:solid;
    border-color:#CCCCCC;
    border-width:1px;
}


#loader {
    bottom: 0;
    height: 175px;
    left: 0;
    margin: auto;
    right: 0;
    top: 0;
    width: 175px;
}
#loader .dot {
    bottom: 0;
    height: 100%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 87.5px;
}
#loader .dot::before {
    border-radius: 100%;
    content: "";
    height: 87.5px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(0);
    width: 87.5px;
}
#loader .dot:nth-child(7n+1) {
    transform: rotate(45deg);
}
#loader .dot:nth-child(7n+1)::before {
    animation: 0.8s linear 0.1s normal none infinite running load;
    background: #00ff80 none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+2) {
    transform: rotate(90deg);
}
#loader .dot:nth-child(7n+2)::before {
    animation: 0.8s linear 0.2s normal none infinite running load;
    background: #00ffea none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+3) {
    transform: rotate(135deg);
}
#loader .dot:nth-child(7n+3)::before {
    animation: 0.8s linear 0.3s normal none infinite running load;
    background: #00aaff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+4) {
    transform: rotate(180deg);
}
#loader .dot:nth-child(7n+4)::before {
    animation: 0.8s linear 0.4s normal none infinite running load;
    background: #0040ff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+5) {
    transform: rotate(225deg);
}
#loader .dot:nth-child(7n+5)::before {
    animation: 0.8s linear 0.5s normal none infinite running load;
    background: #2a00ff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+6) {
    transform: rotate(270deg);
}
#loader .dot:nth-child(7n+6)::before {
    animation: 0.8s linear 0.6s normal none infinite running load;
    background: #9500ff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+7) {
    transform: rotate(315deg);
}
#loader .dot:nth-child(7n+7)::before {
    animation: 0.8s linear 0.7s normal none infinite running load;
    background: magenta none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+8) {
    transform: rotate(360deg);
}
#loader .dot:nth-child(7n+8)::before {
    animation: 0.8s linear 0.8s normal none infinite running load;
    background: #ff0095 none repeat scroll 0 0;
}
#loader .lading {
    /*background-image: url("../images/loading.gif");*/
    background-position: 50% 50%;
    background-repeat: no-repeat;
    bottom: -40px;
    height: 200px;
    left: 0;

    right: 0;
    width: 180px;
}
@keyframes load {
    100% {
        opacity: 0;
        transform: scale(1);
    }
}
@keyframes load {
    100% {
        opacity: 0;
        transform: scale(1);
    }
}