/* countdown to the 1 billionth tweet. Nathan Reed, 20/09/08 */

.small-link {
	font-size: 8pt;
	padding: 2px;
}

/* tab bar */
#tab-row {
	padding: 8px;
}

#tab-row a {
	background-color: #eee;
	padding: 9px;

	font-weight: bold;
	color:black;
}

#tab-row a.t-active-tab {
	background-color: #AFEFF1;
}

/* header + logo etc */
.cd-header a:hover {
	text-decoration: none !important;
}

.cd-header {
	padding-top: 8px;
	padding-right: 32px;
	padding-bottom: 16px;
}

.cd-main-heading {
	background-image: url('../imgs/logo.png');
	background-repeat: no-repeat;
	background-position: left center;

	font-size: 36pt;

	padding-left: 56px;
	padding-bottom: 8px;
	margin-left: 36px;
	margin-top: 12px;
}

.cd-main-heading span, .cd-main-heading a  {
	font-family: arial;
	font-weight: bold;
}

.cd-main-heading a {
	color: black;
}

.cd-main-heading a:hover {
	text-decoration: underline;
}

.cd-sub-heading {
	font-size: 10pt;
	color: #555;
}

/* footer and body */
.cd-footer {
	padding: 8px;
	color: gray;
}

.cd-footer p {
	padding-bottom: 4px;
}

.cd-main {
	background-color: #AFEFF1;
	text-align: center;
	padding: 16px;
}

#cd-tweet-counter {
	padding-bottom: 12px;
	font-size: 72pt;
}


.cd-graph-row {
	text-align: center;
	padding: 8px;
}

.cd-graph-item {
	padding-right: 8px;
	margin: 8px;
}

/* the countdown timers */
#cd-timer-row {
	text-align: center;
}

#cd-timer-row table {
	margin: 0 auto;
}

#cd-timer-row td {
	font-size: 18pt;
}

.cd-tt-target {
	text-align: left;
}

.cd-tt-timer {
	text-align: right;
	padding-left: 16px;
}

/* little servralert ad down the bottom */
#ad-row {
	padding: 4px;
	/*margin-bottom: 4px;*/
	font-size:10pt;
	vertical-align: middle;
}

#ad-row a {
	background-color: #FFF6BF;
	padding: 4px;
	color: #0099FF !important;
	text-decoration: none;
	font-weight: normal;
}

#ad-row a:hover {
	text-decoration: underline;
}
