@import url('default.css');
@import url('countdown.css');

#t-body {
	border-top: 6px solid #AFEFF1;
}

/* general classes */
#col-edit-bar {
	padding: 6px 28px;
}

#t-retweet {
}

#tt-list {
	margin-left: 8px;
}

#tweet-table {
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 16px;
}

#select-bar {
	padding-left: 8px;
	padding-top: 8px;
	color: gray;
	font-size: 9pt;
}

#t-columns {
	vertical-align: top;
	width: 100%;
}

.tweet-col {
	vertical-align: top;
	min-width: 300px;
	max-width: 400px;
	padding-right: 8px;
}

.t-item {
	padding: 8px 0;
	font-size: 10pt;
}

.t-time {
	color: gray;
}

.t-load-msg {
	text-align: center;
	color: gray;
	font-size: 16pt;
	margin-top: 32px;
}


/* search bar */

input {
	font-size: 14pt;
	padding: 4px;
}

.t-search-form {
	display: inline;
}

.t-is-loading {
	color: gray;
}

.t-feed-info {
	font-size: 9pt;
	color: gray;
}

.pause-link {
	font-weight: bold;
}

a.close-link {
	color: black;
	font-size: 24pt;
	text-decoration: none;
	vertical-align: top;
}

a#t-add-col {
	color: black;
	text-decoration: none;
	font-size: 38pt;
	font-weight: bold;
}
/*
* overriding the base css. eventually this will be integrated
* back correctly.
*/

.cd-footer {
	text-align: right;
}

img {
	border: none;
}

#t-retweet {
	padding-bottom:16px;
}

.t-item div.profile-pic {
	padding: 4px;
}

/* pop tweets and the pop tweets link bar */
.pop-tweets-alert {
	cursor: pointer;
	background-color: #FFF6BF;
	padding: 4px;

	font-size: 10pt;
	text-align: center;

	margin-top: 6px;
}

.pop-tweet-tag {
	font-size: 9pt;
	background-color: #DAECF5;
	padding: 2px 6px;
}

.pop-tweets {
	border-bottom: 3px solid #ddd;
}